.footer{
    background-color: hsl(204, 86%, 53%);
    padding: 3em 1.5em;
}

.section{
    max-width: 1280px;
    margin: 0 auto;
}

.info{
    min-height: 250px;
}

.copy{
    color: white;
    margin-bottom: 0px;
}

.project-card-header{
    background-color: hsl(204, 86%, 53%);
}

.project-card-header p{
    color: white;
}

.subtitle{
    padding: 0.5em 0;
}

.icon i{
    font-size: 1.75em;
    color: white;
}

.social-icons{
    padding: 0.5em 0;
}