{% extends 'bukkaraya/base.html' %}


{% block title %}
Home |
{% endblock %}

{% block body %}
    <section class="section info">
        <div class="container has-text-centered">
            <div class="columns is-mobile is-centered">
                <div class="child">
                    <h1 class="title is-size-4">Abinav Bukkaraya</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque exercitationem esse earum dolores nemo, ex quas sit quisquam vel perferendis quae atque hic pariatur optio quaerat ipsa, porro, ea natus.Reiciendis accusamus maiores nostrum quod eveniet totam numquam adipisci sequi dicta tempora qui iure itaque, repellendus quis delectus. Sequi repudiandae ex animi necessitatibus quibusdam, excepturi hic consequuntur ullam inventore nihil!</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}